@charset "UTF-8";

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	font-family: "Canva Sans Variable";
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	overflow: hidden;
	padding: 0px;
}

#region-controls,
#point-controls {
	display: inline-block;
}

#canvas-container {
	overflow: hidden;
}

canvas {
	margin: 0 auto;
}

.flourish-popup {
	pointer-events: none;
	font-size: 12px;
	z-index: 5;
}

.legend-group {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
	line-height: 0;
}

.fl-control {
	z-index: 2;
}

.fl-legend-container {
	vertical-align: middle;
	line-height: normal;
}

#fl-legend-continuous-size-0 {
	margin-right: 1rem;
}

.search-container {
	direction: ltr;
	position: absolute;
	text-align: left;
	z-index: 10;
	top: 2px;
	left: 2px;
}
.search-container.hidden {
	display: none;
}
.search-container.expanded input {
	width: 100% !important;
}
.search-container input {
	border: none;
	cursor: default;
	position: relative;
	font-family: inherit;
	transition: 200ms width;
	display: block;
}

.search-container .search-icon {
	position: absolute;
	pointer-events: none;
}

.search-container .search-icon svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.search-container .search-list {
	display: none;
	opacity: 0;
	margin-top: 1px;
	min-width: 100%;
	max-width: calc(100% + 2rem);
	max-height: 50vh;
	overflow-y: auto;
	position: absolute;
}
.search-container.active .search-list {
	display: block;
}
.search-container .search-list .search-item {
	height: auto;
	padding: 0.5rem;
	cursor: pointer;
	position: relative;
}

.search-container .search-list[data-pale-background="true"] .search-item:hover {
	outline: 2px solid white;
	outline-offset: -2px;
	outline-color: rgba(0, 0, 0, 0.65);
	background-color: rgba(0, 0, 0, 0.05);
}

.search-container
	.search-list[data-pale-background="false"]
	.search-item:hover {
	outline: 2px solid white;
	outline-offset: -2px;
	outline-color: rgba(255, 255, 255, 0.65);
	background-color: rgba(255, 255, 255, 0.05);
}

.search-container
	.search-list[data-pale-background="true"]
	.search-item.selected,
.search-container
	.search-list[data-pale-background="true"]
	.search-item:focus-visible {
	outline: 2px solid black;
	outline-offset: -2px;
}

.search-container
	.search-list[data-pale-background="false"]
	.search-item.selected,
.search-container
	.search-list[data-pale-background="false"]
	.search-item:focus-visible {
	outline: 2px solid white;
	outline-offset: -2px;
}

.search-container .search-list .search-item p {
	margin: 0;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
}
.search-container ::-webkit-input-placeholder {
	display: none;
}
.search-container.expanded ::-webkit-input-placeholder {
	display: none;
}
